$none: none;
$zero: 0px;
$center: center;
$flex: flex;
$row: row;

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  text-decoration: none;

  width: 100%;
  height: 10vh;
  align-items: center;
  justify-content: flex-end;
  padding: 0 16.5em;
}
.logo {
  // margin-left: 11em;
  margin-right: auto;
  font-weight: 600;
  font-size: 1.5rem;

  a {
    text-decoration: none;
    color: black;
  }
}
.menu {
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
  // margin-right: 10rem;
}

.menu-link {
  display: flex;
  flex-direction: row;

  margin-right: 12px;
  text-decoration: none;
  color: black;
}
.home-link {
  margin-right: 1rem;

  font-weight: 600;
  text-decoration: none;
  color: black;
}
.menu-image {
  display: none;
}

//hero section

.hero {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  
}
.side {
  width: 25%;
}
.main-mid {
  width: 50%;
  height:fit-content;
  position:relative;
  
}

.image {
  object-fit: "cover";
  height: 100%;
  width: 100%;
 
  
}
.middle{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
}


.read-more {
  width: 90%;
  // margin: 1em;
  
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 1em 15px;
  position:absolute;
  top: 7em;
  p{
    font-weight:lighter;
    
    // white-space: wrap; 
    // overflow: hidden;
    // text-overflow: ellipsis; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;

  }
  
  

  
}

.head,
.read-btn {
  display: flex;

  justify-content: center;

  align-items: center;
  font-size:1em;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
.read-btn > p{
  font-weight: 600;
  .tag{
    font-size: 20px;
    color: #fafafa;
  }
}

.head {
  font-size: 1.5em;
}

//recent articles

.container {
  width: 100%;
  margin: 20px auto;
}
.heading {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 1em;
  margin-top: 4em;
}

.row {
  display: flex;
  flex-direction: row;

  margin: 0 5em;
  flex-flow: wrap;
}

.card {
  width: 50%;
  margin-bottom: 50px;
}

.card-header {
  width: 100%;
  text-align: center;
  padding: 0em 10px;
}
.card-header > img {
  width: 100%;
}

.card-body {
  padding: 1em 1em;
  text-align: center;
  font-size: 18px;
}

//card-body
// .card-header > div {
//   justify-content: center;
// }



.travel {
  padding: 0 0;

  display: block;

  text-align: center;
  margin-top: -1.2em;

  p {
    display: inline-block;
    color: #a3a3a3;
    padding: 0.4em 2em;
    font-weight: 600;
    background-color: #fafafa;
  }
}
.article-heading {
  margin-bottom: 10px;
  text-align: left;
}
span {
  color: #0c0b0b;
}
.date {
  color: #a9a9a9;
  font-size: 14px;
  text-align: left;
  margin-bottom: 20px;
}

.desc {
  color: #707070;
  
  font-size: 12px;
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: left;
 
  
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
    
 
  

}

.row1 {
  display: flex;

  align-items: center;
  width: 100%;
}
.continue {
  font-size: 12px;
 
  margin-bottom: 20px;
  cursor: pointer;
  text-align: left;
  color:#292727;
  
}

.row-comment {
  color: #b3b3b3;
  font-size: 15px;
  float: left;
  padding: 4px 4px;
}

//fterimage

.fterimage {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;

  justify-content: space-evenly;
}
.fterimage > img {
  width: 16.6666%;
  height:12em;
  // width:16.66%;

}
.fter {
  font-size: 10px;
}

.fterbar {
  display: flex;
  flex-direction: row;
  background-color: #252323;

  width: 100%;
  height: 10vh;
  align-items: center;
  justify-content: center;
}
.cp {
  display: flex;
  width:50%;
  color: #dad5d4;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  // margin-right: 30em;
  
}
.fter-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width:50%;
  // margin-left: 30em;
}

.fter {
  color: #dad5d4;
  font-weight: 600;
}

.up-arrow {
  

  position: fixed;
  bottom: 1.5em;
  right: 1em;
}







@media screen and (max-width: 991px) {
  .logo {
    margin-left: 1rem;
    font-size: 2rem;
  }
  .nav {
    padding: 0 1em;
  }
  .nav > .menu {
    display: none;
  }

  .menu-image {
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem;
  }
  .logo > a {
    margin-left: 1rem;
  }
  .row{
    margin: 0 1em;
  }



  .hero{
    display: flex;
    flex-direction: column;
  }
  .side{
    display: flex;
    flex-direction: row;
    width:100%;
    gap: 0.5em;
    
  }
  .up,.down{
    width: 60%;
    height: 100%;
    margin: 0;
  }
  .main-mid{
    width: 100%;
    // height: 500px;
    gap:0px;
  }
  
  .fterbar{
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;

    // align-content: center;
  }
  .cp{
    margin-bottom: 30px;
    margin-top: 25px;
    
    // margin:0;
  }
  .fter-menu{
    margin-bottom: 30px;
    margin-top: 25px;
  }
    // font-size: 0.1;
  //   // margin-right:2em;
  //   // margin-left:0;
  //   text-align:center;
    
  // }
  .fterimage > img{
    width:25%;
    .no{
      display:none;
    }
  }

  
  
   
      .read-more {
        width: 100%;
      
      }
  

 




  
  
}




@media only screen and (max-width: 660px) {
  .container {
    width: 100%;
  }
  .row {
    display: flex;
    margin: 0 1em;
    flex-direction: column;
  }
  .card-header {
    padding-bottom: 0.5em;
  }

  .heading {
    padding: 20px;
  }

  .card {
    width: 100%;
  }
  .travel {
    margin-top: -1em;
    display: flex;
    justify-content: center;
  }
 .side{
   display:flex;
   flex-direction: column;

 }
 .up,.down{
   width:100%;
   
 }
 .read-more{
   width:100%;
   top:0.5em;
   padding:0;
 }
 .fterbar{
  display: flex;
  flex-direction: column;
  height:100px;
  .cp{
  display:flex;
  justify-content: center;
  align-items: center;
 
  font-size:12px;
  width:100%;
  
    margin-bottom: 0px;
    margin-top: 8px;
    // margin:0;
  
}
}
.fter{
  font-weight: 500;
}


.fter-menu{
  width:100%;
  margin-bottom: 0px;
  margin-top: 15px;
  

}
  // .fterbar {
  //   height: 20vh;
  //   display: inline-block;
  //   align-items: center;
  //   justify-content: center;
  //   padding: 0px 1%;
  // }
  // .menu-link {
  //   font-size: 120%;
  // }

  // .cp {
  //   display: flex;
  //   font-size: 100%;
  //   margin-right: 0em;
  //   justify-content: center;
  //   align-items: center;
  
   
    
  //   padding: 2rem 0;
  // }

}

