* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-decoration: none;
  width: 100%;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 16.5em;
}

.logo {
  margin-right: auto;
  font-weight: 600;
  font-size: 1.5rem;
}

.logo a {
  text-decoration: none;
  color: black;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 0.8em;
}

.menu-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 12px;
  text-decoration: none;
  color: black;
}

.home-link {
  margin-right: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.menu-image {
  display: none;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5em;
}

.side {
  width: 25%;
}

.main-mid {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

.image {
  -o-object-fit: "cover";
     object-fit: "cover";
  height: 100%;
  width: 100%;
}

.middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.read-more {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 1em 15px;
  position: absolute;
  top: 7em;
}

.read-more p {
  font-weight: lighter;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.head,
.read-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1em;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.read-btn > p {
  font-weight: 600;
}

.read-btn > p .tag {
  font-size: 20px;
  color: #fafafa;
}

.head {
  font-size: 1.5em;
}

.container {
  width: 100%;
  margin: 20px auto;
}

.heading {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 1em;
  margin-top: 4em;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 5em;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.card {
  width: 50%;
  margin-bottom: 50px;
}

.card-header {
  width: 100%;
  text-align: center;
  padding: 0em 10px;
}

.card-header > img {
  width: 100%;
}

.card-body {
  padding: 1em 1em;
  text-align: center;
  font-size: 18px;
}

.travel {
  padding: 0 0;
  display: block;
  text-align: center;
  margin-top: -1.2em;
}

.travel p {
  display: inline-block;
  color: #a3a3a3;
  padding: 0.4em 2em;
  font-weight: 600;
  background-color: #fafafa;
}

.article-heading {
  margin-bottom: 10px;
  text-align: left;
}

span {
  color: #0c0b0b;
}

.date {
  color: #a9a9a9;
  font-size: 14px;
  text-align: left;
  margin-bottom: 20px;
}

.desc {
  color: #707070;
  font-size: 12px;
  margin-bottom: 20px;
  line-height: 1.5;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.continue {
  font-size: 12px;
  margin-bottom: 20px;
  cursor: pointer;
  text-align: left;
  color: #292727;
}

.row-comment {
  color: #b3b3b3;
  font-size: 15px;
  float: left;
  padding: 4px 4px;
}

.fterimage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  overflow: hidden;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.fterimage > img {
  width: 16.6666%;
  height: 12em;
}

.fter {
  font-size: 10px;
}

.fterbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #252323;
  width: 100%;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  color: #dad5d4;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fter-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.fter {
  color: #dad5d4;
  font-weight: 600;
}

.up-arrow {
  position: fixed;
  bottom: 1.5em;
  right: 1em;
}

@media screen and (max-width: 991px) {
  .logo {
    margin-left: 1rem;
    font-size: 2rem;
  }
  .nav {
    padding: 0 1em;
  }
  .nav > .menu {
    display: none;
  }
  .menu-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 1rem;
  }
  .logo > a {
    margin-left: 1rem;
  }
  .row {
    margin: 0 1em;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    gap: 0.5em;
  }
  .up, .down {
    width: 60%;
    height: 100%;
    margin: 0;
  }
  .main-mid {
    width: 100%;
    gap: 0px;
  }
  .fterbar {
    font-size: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cp {
    margin-bottom: 30px;
    margin-top: 25px;
  }
  .fter-menu {
    margin-bottom: 30px;
    margin-top: 25px;
  }
  .fterimage > img {
    width: 25%;
  }
  .fterimage > img .no {
    display: none;
  }
  .read-more {
    width: 100%;
  }
}

@media only screen and (max-width: 660px) {
  .container {
    width: 100%;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 1em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-header {
    padding-bottom: 0.5em;
  }
  .heading {
    padding: 20px;
  }
  .card {
    width: 100%;
  }
  .travel {
    margin-top: -1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .up, .down {
    width: 100%;
  }
  .read-more {
    width: 100%;
    top: 0.5em;
    padding: 0;
  }
  .fterbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100px;
  }
  .fterbar .cp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 8px;
  }
  .fter {
    font-weight: 500;
  }
  .fter-menu {
    width: 100%;
    margin-bottom: 0px;
    margin-top: 15px;
  }
}
/*# sourceMappingURL=home.css.map */